/* Custom Scrollbar Styles for Chrome */
.editor {
    overflow: auto; /* Enables scrolling */
    height: 100%;
    margin: 0 5rem;
    padding: 3rem;
    background: white;
    bbox-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  
  /* Scrollbar width and height */
  .editor::-webkit-scrollbar {
    width: 8px; /* Thinner scrollbar */
    height: 8px; /* Thinner horizontal scrollbar */
  }
  
  /* Scrollbar Track */
  .editor::-webkit-scrollbar-track {
    background: #f5f5f5; /* Light background color for track */
  }
  
  /* Scrollbar Thumb */
  .editor::-webkit-scrollbar-thumb {
    background-color: #ddd; /* Light gray color for thumb */
    border-radius: 10px; /* Rounded corners for thumb */
    border: 2px solid #f5f5f5; /* Padding around thumb for lighter look */
  }
  
  /* Scrollbar Thumb Hover */
  .editor::-webkit-scrollbar-thumb:hover {
    background-color: #bbb; /* Slightly darker color on hover */
  }
  
/* Override the inherited styles of next.js for headings */
h1 {
    display: block;
    font-size: 2em; /* 32px if the base font size is 16px */
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
    line-height: normal;
  }
  
  h2 {
    display: block;
    font-size: 1.5em; /* 24px if the base font size is 16px */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
    line-height: normal;
  }
  
  blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    padding-left: 10px;
    border-left: 2px solid #ccc; /* Some browsers add this */
    color: #ccc; /* Inherits the color of its parent */
  }
  
  blockquote span {
    font-style: italic;
  }
  
  ol {
    list-style-type: decimal; /* Ensure numbers are displayed */
    list-style-position: outside; /* Numbers should appear outside the content box */
    padding-left: 40px; /* Restore default padding */
    margin-left: 0; /* Set left margin to 0 (you can adjust as needed) */
  }
  
  ul {
    list-style: initial;
    padding-left: initial;
    margin-left: initial;
  }
  
  code {
    background-color: #eee;
  }